@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@custom-variant mobile-landscape {
  @media only screen and ((
 (max-height: 62rem) and (max-width: 35rem)
    ) or
    (
      (max-height: 35rem) and (max-width: 62rem)
    )) and (orientation: landscape) {
    @slot;
  }
}
@custom-variant mobile-portrait {
  @media only screen and ((
 (max-height: 62rem) and (max-width: 35rem)
    ) or
    (
      (max-height: 35rem) and (max-width: 62rem)
    )) and (orientation: portrait) {
    @slot;
  }
}

@property --border-width {
  syntax: '<length>';
  inherits: false;
  initial-value: 0px;
}

@theme {
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-white: hsl(var(--white));
  --color-black: hsl(var(--black));
  --color-grad-accent-1: hsl(var(--grad-accent-1));
  --color-grad-accent-2: hsl(var(--grad-accent-2));
  --color-grad-accent-mix: var(--grad-accent-mix);
  --color-grad-bg-1: hsl(var(--grad-bg-1));
  --color-grad-bg-2: hsl(var(--grad-bg-2));
  --color-grad-header-1: hsl(var(--grad-header-1));
  --color-grad-header-2: hsl(var(--grad-header-2));
  --color-grad-header-3: hsl(var(--grad-header-3));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-grad-node-start-1: var(--grad-node-start-1);
  --color-grad-node-start-2: var(--grad-node-start-2);
  --color-grad-node-end-1: var(--color-red-400);
  --color-grad-node-end-2: var(--color-orange-400);
  --color-grad-node-wall-1: var(--color-red-400);
  --color-grad-node-wall-2: var(--color-orange-400);

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --font-mono:
    bangers, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --font-sans:
    bangers, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif:
    bangers, ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  --animate-node-visited: node-visited var(--node-animation-duration) ease-in;

  @keyframes node-visited {
    from {
      --tw-gradient-from: hsl(var(--primary) / 0.2);
      --tw-gradient-to: hsl(var(--primary) / 0.2);
      backdrop-filter: blur(25px);
      -webkit-backdrop-filter: blur(25px);
      border-width: 1px;
      transform: scale(1.4);
      z-index: 4;
    }
    to {
      --border-width: 0px;
      --tw-gradient-from: hsl(var(--primary) / 0);
      --tw-gradient-to: hsl(var(--primary) / 0);
      backdrop-filter: blur(0px);
      -webkit-backdrop-filter: blur(0px);
      border-width: 0px;
      transform: scale(0);
      z-index: 4;
    }
  }

  --animate-node-visited-wall: node-visited-wall var(--node-animation-duration)
    ease-in;

  @keyframes node-visited-wall {
    0% {
      --tw-gradient-from: var(--color-grad-node-wall-1);
      --tw-gradient-to: var(--color-grad-node-wall-2);
    }
    50% {
      --tw-gradient-from: var(--color-red-800);
      --tw-gradient-to: var(--color-red-600);
    }
    100% {
      --tw-gradient-from: var(--color-grad-node-wall-1);
      --tw-gradient-to: var(--color-grad-node-wall-2);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  * {
    box-sizing: border-box;
  }
}

@layer base {
  :root {
    --white: 0 0% 100%;
    --black: 240 10% 3.9%;
    --grad-bg-1: 142 69% 58%; /* Tailwind Green 400 */
    --grad-bg-2: 213 94% 68%; /* Tailwind Blue 400 */
    --grad-accent-1: 270 95% 75%; /* Tailwind Purple 400 */
    --grad-accent-2: 188 86% 53%; /* Tailwind Cyan 400 */
    --grad-accent-mix: color-mix(
      in lab,
      hsl(var(--grad-accent-1)),
      hsl(var(--grad-accent-2))
    );
    --grad-header-1: 245 58% 51%; /* Tailwind Indigo 700 */
    --grad-header-2: 272 72% 47%; /* Tailwind Purple 700 */
    --grad-header-3: 224 76% 48%; /* Tailwind Blue 700 */

    --grad-node-start-1: var(--color-purple-700);
    --grad-node-start-2: var(--color-blue-700);
    --grad-node-end-1: 0 91% 71%; /* red 400 */
    --grad-node-end-2: 27 96% 61%; /* orange 400 */
    --grad-node-wall-1: 0 91% 71%; /* red 400 */
    --grad-node-wall-2: 27 96% 61%; /* orange 400 */

    --shortest-path-start: var(--color-violet-500);
    --shortest-path-end-dijkstra: var(--color-fuchsia-500);
    --shortest-path-end-aStarE: var(--color-amber-500);
    --shortest-path-end-aStarM: var(--color-rose-500);
    --shortest-path-end-dfs: var(--color-red-500);
    --shortest-path-end-bfs: var(--color-blue-500);

    --background: 240 6% 90%; /* zinc 200 */
    --foreground: 240 10% 3.9%;
    --card: var(--background);
    --card-foreground: 240 10% 3.9%;
    --popover: var(--background);
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --node-size: 32;
    --shortest-path-width: calc(var(--node-size) / 10);
    --node-animation-duration: clamp(
      200ms,
      calc(var(--node-size) * 15ms),
      800ms
    );
    --safe-top: env(safe-area-inset-top, 0px);
    --safe-right: env(safe-area-inset-right, 0px);
    --safe-bottom: env(safe-area-inset-bottom, 0px);
    --safe-left: env(safe-area-inset-left, 0px);
  }
  .dark {
    --grad-bg-1: 23 83% 31%; /* Tailwind Amber 800 */
    --grad-bg-2: 32 81% 29%; /* Tailwind Yellow 800 */
    --grad-accent-1: 43 96% 56%; /* Tailwind Amber 400 */
    --grad-accent-2: 0 91% 71%; /* Tailwind Red 400 */
    --grad-header-1: 26 90% 37%; /* Tailwind Amber 700 */
    --grad-header-2: 17 88% 40%; /* Tailwind Orange 700 */
    --grad-header-3: 0 74% 42%; /* Tailwind Red 700 */

    --grad-node-start-1: var(--color-green-600);
    --grad-node-start-2: var(--color-cyan-600);

    --shortest-path-start: var(--color-green-600);
    --shortest-path-end-DIJ: var(--color-orange-600);
    --shortest-path-end-ASE: var(--color-emerald-400);
    --shortest-path-end-ASM: var(--color-fuchsia-400);
    --shortest-path-end-DFS: var(--color-purple-400);
    --shortest-path-end-BFS: var(--color-rose-400);

    --background: 240 6% 10%; /* zinc 900 */
    --foreground: 0 0% 98%;
    --card: var(--background);
    --card-foreground: 0 0% 98%;
    --popover: var(--background);
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@utility transition-node {
  transition-property:
    color, background-color, border-color, outline-color, text-decoration-color,
    fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to,
    --border-width;
  transition-timing-function: var(
    --tw-ease,
    var(--default-transition-timing-function) /* cubic-bezier(0.4, 0, 0.2, 1) */
  );
  transition-duration: var(
    --node-animation-duration,
    var(--default-transition-duration) /* 150ms */
  );
}

@utility grad-accent {
  @apply bg-linear-to-br from-grad-accent-1 to-grad-accent-2;
}

@utility bg_grad_accent {
  @apply border-2 border-solid border-transparent text-secondary dark:border;

  --base-color: hsl(var(--background) / 0.8);
  --grad-1: hsl(var(--grad-accent-1));
  --grad-2: hsl(var(--grad-accent-2));
  --lg: linear-gradient(
    to bottom right,
    var(--grad-1),
    var(--grad-2),
    var(--grad-1),
    var(--grad-2)
  );
  background: var(--lg);
  background-size: 400% 400% !important;
}

@utility bg_grad_accent--outline {
  @apply bg_grad_accent;

  background:
    linear-gradient(var(--base-color), var(--base-color)) padding-box,
    var(--lg) border-box;
}

@utility bg_grad_accent--outline--text {
  @apply bg_grad_accent--outline text-transparent!;

  background:
    var(--lg) text,
    linear-gradient(var(--base-color), var(--base-color)) padding-box,
    var(--lg) border-box;
}

@utility p-safe {
  padding-top: var(--safe-top);
  padding-right: var(--safe-right);
  padding-bottom: var(--safe-bottom);
  padding-left: var(--safe-left);
}

@utility pt-safe {
  padding-top: var(--safe-top);
}
@utility pb-safe {
  padding-bottom: var(--safe-bottom);
}
@utility pr-safe {
  padding-right: var(--safe-right);
}
@utility pl-safe {
  padding-left: var(--safe-left);
}
@utility px-safe {
  padding-left: var(--safe-left);
  padding-right: var(--safe-right);
}
@utility py-safe {
  padding-top: var(--safe-top);
  padding-bottom: var(--safe-bottom);
}
@utility top-safe {
  top: var(--safe-top);
}
@utility bottom-safe {
  bottom: var(--safe-bottom);
}
@utility right-safe {
  right: var(--safe-right);
}
@utility left-safe {
  left: var(--safe-left);
}

@utility grad_text {
  @apply bg-linear-to-br bg-clip-text text-transparent;
}

@utility grad_text--accent {
  @apply grad-accent grad_text;
}

@utility grad_text--header {
  @apply grad_text from-grad-header-1 via-grad-header-2 to-grad-header-3 pr-1;
}

@layer base {
  html[data-e2e='true'] * {
    transition: none !important;
    animation: none !important;
  }
  /* button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  } */

  * {
    @apply border-grad-accent-mix;
  }

  mjx-container {
    svg {
      color: hsl(var(--foreground));
    }
  }

  .grad-accent {
    @apply bg-linear-to-br from-grad-accent-1 to-grad-accent-2;
  }

  .bg_grad_accent\/70 {
    @apply bg-linear-to-br from-grad-accent-1/70 to-grad-accent-2/70;
  }
  .bg_grad_accent\/10 {
    @apply bg-linear-to-br from-grad-accent-1/10 to-grad-accent-2/10;
  }
  .bg_grad_accent\/20 {
    @apply bg-linear-to-br from-grad-accent-1/20 to-grad-accent-2/20;
  }
  .grad-accent-vertical {
    @apply bg-linear-to-b from-grad-accent-1 to-grad-accent-2;
  }

  /* because of border image limitations, this class is only useful if you don't need a border radius */
  .grad-border {
    border-image: linear-gradient(
      to bottom right,
      hsl(var(--grad-accent-1)),
      hsl(var(--grad-accent-2))
    );
    border-image-slice: 1;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  /* uses variables set by the useSVGGradient hook */
  @keyframes svg_gradient {
    0%,
    100% {
      stop-color: var(--grad-2);
    }
    50% {
      stop-color: var(--grad-1);
    }
  }

  .animate_grad:hover {
    animation: gradient 1.5s ease infinite;

    svg stop {
      animation: svg_gradient 1.5s ease infinite;
    }
  }

  .grad-grid {
    @apply bg-linear-to-br from-grad-bg-1 to-grad-bg-2;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply grad_text--header;
    --stroke-width: 0.015rem;
    --stroke-color: hsl(var(--grad-accent-1));

    @supports (-webkit-text-stroke: var(--stroke-width) var(--stroke-color)) {
      -webkit-text-stroke: var(--stroke-width) var(--stroke-color);
      letter-spacing: calc(var(--stroke-width) * 2.2);
    }
  }

  h1 {
    @apply text-4xl;
    --stroke-width: 0.05rem;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-lg;
  }

  .border_default {
    @apply border-2 dark:border;
  }
  :root {
    .shepherd-footer {
      @apply gap-2!;
    }

    .shepherd-content {
      @apply bg_grad_accent--outline--text!;
    }
    .shepherd-arrow:before {
      @apply bg_grad_accent--outline! border-2! dark:border!;
    }

    .shepherd-element {
      max-width: 28rem !important;
    }

    .shepherd-element,
    .shepherd-header {
      background: none !important;
    }

    .shepherd-header {
      @apply justify-start!;

      &:has(+ .shepherd-text) {
        @apply border-b-2! border-grad-accent-mix!;
      }

      h3 {
        --stroke-color: var(--grad-accent-mix);
        --stroke-width: 0.04rem;
        @apply text-2xl! text-primary!;
      }
    }

    .shepherd-text {
      @apply text-xl! text-transparent!;
      letter-spacing: 0.075rem;
    }
  }
}
